:root{
    --button-blue: #1684e1;
    --text-h3: #484646;
    --action-green: #11a74b;
    --action-del: #881515;
    --success: #11a74b;
    --danger: #c71919;
}
.btn-success {
    background: var(--success);
}
.btn-danger {
    background: var(--danger);
}
.xs {
    padding: 5px 9px;
    font-size: 0.8rem;
}
.action-buttons {
    display: flex;
    gap: 3px;
}
button.action-button {
    background: #f7f7f7 !important;
    border: 1px solid #e5e5e5;
    color: #000000 !important;
    border-radius: 4px;
    transition: .25s;
}
button.action-button:hover {
    background: lightgray !important;
}
.custom-confirm-button-class {
    background-color: #d33 !important;
    /* Add other custom styles for the confirm button */
  }
  
  .custom-cancel-button-class {
    background-color: var(--button-blue) !important;
    /* Add other custom styles for the cancel button */
  }
body{
    height: 100vh;
}
.login-main-container{   
    background-image: url('/src/shared/images/login_bg.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
}
button{
    background-color :var(--button-blue) !important;
    color: #fff !important;
}
.login-container{
    background: #f3edeb;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 60vh;
  width: 20%;
  padding:2%;
  border-radius: 4px;
}
.forget-password{
     color: #303030;
    font-size: 14px;
    margin-top: 15px;
    font-weight: 500;
    text-align: center; 
}
.label{
    font-size: 14px;
    text-transform: capitalize;
    color: black;
    font-weight: 500;
}
  .mt-15{
    margin-top: 25px;
  }
  .login-button-container button{
        min-height: 35px;
        width: 100%;
        border-radius: 0px;
        margin-top: 10px;
        font-weight: 500;
    
  }
  .check{
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #716E7D;
  margin-bottom: 1.5em;
  gap: 10px;
  width: 100%;
  }
  
  .login-left {
      padding: 10em 0px 0 0;
  }
  .ellipse1 {
      position: absolute;
      bottom: 80px;
      right: 0px;
      transform: scale(0.8);
  }
  .ellipse2 {
      position: absolute;
      top: -23px;
      transform: scale(0.8);
      right: 105px;
  }
  .ellipse3{
      right: 0;
      position: absolute;
      bottom: -26px;
      transform: scale(0.8);
  }
  .logo{
      margin-top: 9em;
      height: 18em;
      padding: 1.5em;
      will-change: filter;
      transition: filter 300ms;
  }
  .form{
      margin-left: -5em;
  }

  /* Login New */
  .login {
    width: 100%;
}
  .background-radial-gradient {
    background-color: hsl(218, 41%, 15%);
    background-image: radial-gradient(650px circle at 0% 0%,
        hsl(218, 41%, 35%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%),
      radial-gradient(1250px circle at 100% 100%,
        hsl(218, 41%, 45%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%);
        height: 100vh;
  }

  #radius-shape-1 {
    height: 220px;
    width: 220px;
    top: -108px;
    left: -130px;
    background: radial-gradient(#44006b, #ad1fff);
    overflow: hidden;
  }

  #radius-shape-2 {
    border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
    bottom: -60px;
    right: -110px;
    width: 300px;
    height: 300px;
    background: radial-gradient(#44006b, #ad1fff);
    overflow: hidden;
  }

  .bg-glass {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
  }
  /* HEADER STYLES */

.input-primary{
width: 220px;
height: 35px;
background: rgba(255, 255, 255, 0.5);
/* box-shadow: 0px 0px 27px 2px rgba(0, 0, 0, 0.04); */
border-radius: 4px;
margin-right: 1em;
}
.header{
    padding: 1em 0 12px 0;
    margin-bottom: 1em;
    position: relative;
}
.page-title h3{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 42px;
display: flex;
align-items: center;
color: #434041;
}
.notification{
width: 45px !important;
height: 40px;
box-shadow: 0px 0px 27px 2px rgba(0, 0, 0, 0.04);
border-radius: 3px;
background-color: var(--button-blue);
}
.notification:hover{
background: rgba(255, 255, 255, 0.5);
}
.ri-search-2-line{
color: #434041;
}
.profile h3{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 22px !important;
display: flex;
align-items: center;
color: #434041;
line-height: 40px;
}
.edit{
    width: 45px !important;
    height: 40px;
    box-shadow: 0px 0px 27px 2px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    margin-left: 5em;
}
.button-primary{
height: 40px;
box-shadow: 0px 0px 27px 2px rgba(0, 0, 0, 0.04);
border-radius: 3px;
}
.student-new{
    display: flex;
    justify-content: right;
}

.search-student {
    background: #fff;
    margin-top: 1em;
    border-radius: 5px;
    box-shadow: 0 8px 18px rgba(0,0,0,.05);
    padding: 1em 1em 2em 1em;
}
.search-student-table {
    background: #fff;
    margin-top: 1em;
    border-radius: 5px;
    box-shadow: 0 8px 18px rgba(0,0,0,.05);
    padding: 1em 0em 2em 0em;
}
.ri-search-line {
    color: #434041;
    border: 1px solid #9477ea;
    padding: 13px;
    border-radius: 5px;
    position: absolute;
    top: 190px;
}
.text-primary {
    margin-bottom: 1.5em;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1em;
}
.std-search-icon {
    padding: 1px;
    height: 2.8em;
    width: 3em !important;
    border-radius: 4px !important;
    margin-top: 1.3em;
}
.add-std{
    border-bottom: 1px solid #ccc;
}
.add-std h4{
    font-size: 16px;
    font-weight: bold;
}
/* SIDEBAR */
img.logo-main {
    width: 40%;
}
.logo-vertical {
    text-align: center;
    margin-bottom: 1em;
    color: #fff;
}
.logo-vertical h3{
    font-size: 25px;
}
.sidebar {
    padding-top: 1em;
    background: #0260b0;
    min-height: 100vmin;
}
a.sider-item {
    text-decoration: none;
}
.active-menu-item {
    background-color: #42444652 !important;
    margin-bottom: 0px !important;
}
a.active {
    background-color: #302f3203 !important;
    border-radius: 3px !important;
    transition: .2s !important;
}
.sider-bg {
    background: #00ffff00;
}
:where(.css-dev-only-do-not-override-w8mnev).ant-menu-light .ant-menu-item-selected, :where(.css-dev-only-do-not-override-w8mnev).ant-menu-light>.ant-menu .ant-menu-item-selected {
    background-color: #2a292a6b !important;
    border-radius: 4px !important;
}
.sider-bg i {
    color: #fff !important;
    font-size: 18px !important;
}
.main-content{
    background-color: #fafafa;
}
.button-primary a {
    text-decoration: none;
}
.button-primary a:hover {
    color: #fff !important;
}
.text-primary h3 {
    font-size: 16px;
    color: var(--text-h3);
    font-weight: 700;
}
:where(.css-dev-only-do-not-override-w8mnev).ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector {
    width: 100%;
    height: 35px;
    padding: 0 11px;
    border-radius: 4px !important;
}
.action-btn{
    background-color: var(--action-green);
}
.action-btn-del{
    background-color: var(--action-del);
}
.action-btn i{
    color: #000;
}
.custom-select{
    width: 220px;
    height: 35px;
    background: rgba(255, 255, 255, 0.5);
    /* box-shadow: 0px 0px 27px 2px rgba(0, 0, 0, 0.04); */
    border-radius: 4px;
    margin-right: 1em;
}
:where(.css-dev-only-do-not-override-w8mnev).ant-modal {
    width: 90% !important;
}
.input-date{
    width: 220px;
height: 35px;
background: rgba(255, 255, 255, 0.5);
border-radius: 4px;
margin-right: 1em;
border: 1px solid #ccc;
    padding: 1em;
}
:where(.css-dev-only-do-not-override-w8mnev).ant-layout .ant-layout-sider {
    background: #00152900 !important;
}
:where(.css-dev-only-do-not-override-w8mnev) a {
    text-decoration: none !important;
}
.dropdown img {
    width: 10%;
    margin-right: 10px;
}
.dropdown {
    cursor: pointer;
    position: absolute;
    z-index: 999;
    font-size: 15px;
    font-weight: 500;
}
.dropdown-content {
    background: #fff;
    width: 65%;
    border-radius: 4px;
    box-shadow: 0px 0px 3px 0px #ccc;
    padding: 10px;
}
:where(.css-dev-only-do-not-override-w8mnev).ant-layout .ant-layout-sider-zero-width-trigger {
    position: absolute;
    top: 0px !important;
    inset-inline-end: -40px;
    z-index: 1;
    width: 40px;
    height: 40px;
    color: #000 !important;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f5f5 !important;
    border-start-start-radius: 0;
    border-start-end-radius: 6px;
    border-end-end-radius: 6px;
    border-end-start-radius: 0;
    cursor: pointer;
    transition: background 0.3s ease;
}
.page-title {
    padding-left: 3em;
}
/* Finanace */
.card {
    background: #222;
    color: rgba(250, 250, 250, 0.8);
    margin-bottom: 2rem;
  }
  
  .btn {
    border: 5px solid;
    border-image-slice: 1;
    background: var(--gradient) !important;
    /* -webkit-background-clip: text !important; */
    -webkit-text-fill-color: transparent !important;
    border-image-source:  var(--gradient) !important; 
    text-decoration: none;
    transition: all .4s ease;
  }
  
  .btn:hover, .btn:focus {
        background: var(--gradient) !important;
    /* -webkit-background-clip: none !important; */
    -webkit-text-fill-color: #fff !important;
    border: 5px solid #fff !important; 
    box-shadow: #222 1px 0 10px;
    text-decoration: underline;
  }
  /* Dashboard Cards */
  .card {
    background-color: #fff;
    border-radius: 10px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
}
.l-bg-cherry {
    background: linear-gradient(to right, #493240, #f09) !important;
    color: #fff;
}

.l-bg-blue-dark {
    background: linear-gradient(to right, #373b44, #4286f4) !important;
    color: #fff;
}

.l-bg-green-dark {
    background: linear-gradient(to right, #0a504a, #38ef7d) !important;
    color: #fff;
}

.l-bg-orange-dark {
    background: linear-gradient(to right, #a86008, #ffba56) !important;
    color: #fff;
}

.card .card-statistic-3 .card-icon-large .fas, .card .card-statistic-3 .card-icon-large .far, .card .card-statistic-3 .card-icon-large .fab, .card .card-statistic-3 .card-icon-large .fal {
    font-size: 110px;
}

.card .card-statistic-3 .card-icon {
    text-align: center;
    line-height: 50px;
    margin-left: 15px;
    color: #000;
    position: absolute;
    right: -5px;
    top: 20px;
    opacity: 0.1;
}

.l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
}

.l-bg-green {
    background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
    color: #fff;
}

.l-bg-orange {
    background: linear-gradient(to right, #f9900e, #ffba56) !important;
    color: #fff;
}

.l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
}
.card-body {
    background: #434041;
}
/* SECTIONS */
.card-body {
    background: #ffffff;
    min-height: 12em;
    padding-top: 36px;
}
.section-card {
    padding: 0;
}
h4.card-title {
    color: #000;
    font-size: 18px;
}
.card-header {
    padding: 1em;
}
.card-body h6 {
    color: #000;
    font-size: 14px;
}
/* forms */
label.inputs-labels {
    color: #545c62!important;
    font-weight: 700;
    font-size: .875em;
}
.main-heading h6 {
    color: #0c0c0c!important;
    font-weight: 700;
    font-size: .9em;
}
td.ant-table-cell {
    padding: 7px !important;
}
.staff-avatar {
    text-align: center;
}
.staff-avatar img {
    width: 55%;
}

@media (max-width:767px) {
    .main-login{
        flex-direction: column-reverse;
    }
    .logo {
        margin-top: 2em;
        height: 12em;
    }
    .ellipse2 {
        display: none;
    }
    .ellipse1 {
        display: none;
    }
    .ellipse3 {
        display: none;
    }
    .input{
        width: 100%;
    }
    .form{
        margin-left: 0em;
    }
    .login-left {
        padding: 1em 0px 0 0;
    }
    .dropdown img {
        width: 25%;
    }
    .dropdown-content {
        width: 95%;
    }
}