/* body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    background-image: url('../public/images/Vector 1.png');
    background-repeat: no-repeat;
    background-size: 60% 100%;
    font-family: 'Montserrat', sans-serif;
    position: relative; */
    .login-main-container{
        
        background-image: url('/src/shared/images/login_bg.jpg');
        background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
    /* opacity: 0.8; */
}
button{
    background-color :#8A70D6 !important;
    color: #fff !important;
}
.login-container{
     background: #f3edeb;
  /* background-color: #8A70D6; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 50vh;
  width: 25%;
  padding:2%;
  border-radius: 4px;
}
.forget-password{
    
        color: #303030;
        font-size: 14px;
        margin-top: 15px;
        font-weight: 500;
        text-align: center;
    
}
  .label{
    font-size: 14px;
    text-transform: capitalize;
    color: black;

    font-weight: 500;

    /* margin-bottom: 30px; */
  }
  .input{
    background-color: white;
    border-radius: 0px;
    height: 32px;
    max-height: 32px;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.07);
    font-size: 14px;
    border: 2px transparent;
    margin: 0px;

  }
  .mt-15{
    margin-top: 25px;
  }
  .login-button-container button{
        min-height: 35px;
        width: 100%;
        border-radius: 0px;
        margin-top: 10px;
        font-weight: 500;
    
  }
  
 
  .check{
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #716E7D;
  margin-bottom: 1.5em;
  gap: 10px;
  width: 100%;
  }
  
  .login-left {
      padding: 10em 0px 0 0;
  }
  .ellipse1 {
      position: absolute;
      bottom: 80px;
      right: 0px;
      transform: scale(0.8);
  }
  .ellipse2 {
      position: absolute;
      top: -23px;
      transform: scale(0.8);
      right: 105px;
  }
  .ellipse3{
      right: 0;
      position: absolute;
      bottom: -26px;
      transform: scale(0.8);
  }
  .logo{
      margin-top: 9em;
      height: 18em;
      padding: 1.5em;
      will-change: filter;
      transition: filter 300ms;
  }
  .form{
      margin-left: -5em;
  }
  @media (max-width:767px) {
      .main-login{
          flex-direction: column-reverse;
      }
      .logo {
          margin-top: 2em;
          height: 12em;
      }
      .ellipse2 {
          display: none;
      }
      .ellipse1 {
          display: none;
      }
      .ellipse3 {
          display: none;
      }
      .input{
          width: 100%;
      }
      .form{
          margin-left: 0em;
      }
      .login-left {
          padding: 1em 0px 0 0;
      }
  }